@model MovieManagementMVC.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row movie-form">
    <div class="movie-card col-lg-4">
        <h2 class="card-header-text">Movie Details</h2>
        <img class="card-img" src="~/Content/Images/pexels-dmitry-demidov-3921045.jpg" alt="Film Reel" style="width:80%">
        <div class="movie-card-container">
            <h3>
                <b>
                    @Html.DisplayFor(model => model.Title)
                </b>
            </h3>
            <p><i>directed by</i></p>
            <h5>
                @Html.DisplayFor(model => model.Director)
            </h5>
            <p>
                Released: @Html.DisplayFor(model => model.Year)
            </p>
            <p>
                Rating: @Html.DisplayFor(model => model.Rating)
            </p>
            <p>
                Genre: @Html.DisplayFor(model => model.Genre)
            </p>
            <p>
                Format: @Html.DisplayFor(model => model.Format)
            </p>
            <!-- manual override of ActionLink text underline/color using inline style-->
            <button class="btn movie-button">
                @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }, new { @style = "text-decoration:none; color:black;" })
            </button>

            <button class="btn movie-button">
                @Html.ActionLink("Back to List", "Index", new { @class = "link-text" }, new { @style = "text-decoration:none; color:black;" })
            </button>
        </div>
    </div>
 </div>

